<html> 
<style type="text/css">
body 
{
text-align:center;

}
label{
display:inline-block;
width:100px;
text-align:center;
}

</style> 
<body> 
    <h1>Covid Sentiment Analysis</h1> 
<div> 
  <form action="/Result" method="POST"> 
    <label for="User">User</label> 
    <input type="Number" id="TextBox1" name="User",align="center"> 
    <br> 
    <br>
    <label for="Screen Name">Screen Name</label> 
    <input type="Number" id="TextBox2" name="Screen Name">
    <br>
    <br> 
    <label for="Location">Location</label> 
    <input type="Text" id="TextBox3" name="Location">  
    <br>
    <br> 
    <label for="Tweet Message">Tweet Message</label> 
    <input type="Text" id="TextBox4" name="Tweet Message" style="height : 200px;">
    <br>
    <br> 
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html> 